{% extends "cores/base.html" %}
{% block content %}
<h3>Details of {{ applicant }}</h3>
    <p>Applicant Profile Details:<br>
    {{ applicant.first_name }} {{ applicant.last_name }}<br>
    {{ applicant_profile.nick }}<br>
    {{ applicant_profile.hostel }}<br>
    {{ applicant_profile.cgpa }}<br>
    {{ applicant_profile.room_no }}<br>
    {{ applicant_profile.ph_no }}</p>
    <h5>Submitted Applications:</h5>
    <table class="span8 table table-bordered table-striped table-hover">
        <tr>
            <th class="span8">Sub-Department</th>
            <th class="span2">Preference Number</th>
        </tr>
        {% for app in applications %}
        <tr>
            <td>{{app.subdept}}</td>
            <td>{{app.preference}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
