{% extends "cores/base.html" %}
{% block content %}
<div class="span12" id="forms">
    {% if index %}
    <p>You have successfully created {{index}} new events.</p>
    {% endif %}
    <h4>Add Sub Department</h4>
    <form action='' method="POST">
        <div class="span12">
            {{subdeptformset.management_form }}
            {% for form in subdeptformset %}
            {{ form.as_table }}
            <br>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
</div>
{%endblock%}
