<html>

<head>
    <title>Appllcation Portal</title>
    <link rel="stylesheet" href="{{site_url}}static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{site_url}}static/css/style.css" />
    <link rel="shortcut icon" href="{{site_url}}static/img/favicon.ico">
</head>

<body>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6 offset3 well center">
                <p class="bold big">All Set.</p>
                <p class="">Your password has been set. Go right ahead and <a href="{{site_url}}">log in!</a>
                </p>
            </div>
        </div>
    </div>

    <style>
    .below_loginbar {
        margin-top : 100px;
    }
    .big {
        font-size : 30px;
        line-height : 40px;
    }
    </style>
</body>

</html>
