<u><center><h4>Instructions and Regulations</h4></center></u>
    {% for a in announcements %}
    <p>{{ a|safe }}</p>{% endfor %}
    <h5>General</h5>
    <ul>
        <li>Instructions on how to use the application portal can be found<a href="http://shaastra.org/2013/main/instructions.zip"> here</a>.</li>
        <li>Contact Details of Previous years' Coordinators <a href="https://docs.google.com/spreadsheet/ccc?key=0AhMR32nl-ekqdEJnUlFRRUFkUXdnSnVTNm5XRUFiSEE&usp=sharing"> Download</a>
        </li>
        <li>Keep a photocopy of your
            <strong>Grade card</strong> for your interview.</li>
        <li>Deadline is 8 pm, Tuesday, 22nd April.</li>
        <!-- <li>First year students are not allowed to apply.</li> -->
    </ul>

    <h5>WebOps</h5>
    <ul>
        <li>
            <b> Problem Statements <a href="https://drive.google.com/folderview?id=0B3tVqGR-8gG7SXJjUmE1X29XQVU&usp=sharing">Download</a></b>
        </li>
        <li>Also, fill out the <a href="https://docs.google.com/forms/d/1C8IW-rAMauRhrtN2f2IxJiY20MusHr5hpaSbEXxdPXM/viewform">Google Form</a> circulated in the smail.</li>
        <li>
            <strong>Deadline</strong>: Tuesday, 22nd April, 8PM.
        </li>
    </ul>
    <!-- <h5>Design</h5>
        <ul>
            <li><u>Graphic Design, Creative Design</u>
            </li>
            <li>Make some poster and t-shirt designs for the interview.</li>
            <li>Get your portfolio (if any) to the interview in a pendrive.</li>
            <li><u>Editing & Vfx, Photography : </u>
            </li>
            <li>Get your portfolio (if any) to the interview in a pendrive.</li>
            <li><u>Ambience :</u>
            </li>
            <li>Come up with new ideas on ambience projects to be made</li>
        </ul> -->
