<html>
{% if invalid_login %}
<font clor="red">
Invalid Login!
</font>
{% endif %}
<br/>
{% if registered %}
Registered Successfully!
<a href="{{site_url}}">Proceed to Login</a>
{% else %}
<h3>Register</h3>
      <form action="" method="POST">
        {%csrf_token%}
        {{ register_form.as_table }}
        <!-- Scripts for reCaptcha -> https://developers.google.com/recaptcha/docs/display -->
        <script type="text/javascript"
            src="http://www.google.com/recaptcha/api/challenge?k=6Lf1ktUSAAAAALOtemzm08LVwHmfku6yXXCdrMJn">
        </script>
        <noscript>
            <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lf1ktUSAAAAALOtemzm08LVwHmfku6yXXCdrMJn"
                height="250" width="450" frameborder="0"></iframe><br>
            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
            </textarea>
            <input type="hidden" name="recaptcha_response_field"
                value="manual_challenge">
        </noscript>
        {% if captcha_response != "" %}
            <p class="errorlist">The words typed did not match the words in the image</p>
        {% endif %}<br>
        <input type="submit" value="Register"/>
      </form>
{% endif %}
</html>
