{% extends "coord/base.html" %}
{% block content %}
<form action="" method="POST">
        {%csrf_token%}
        {{ forms.management_form}}
        {{ app.as_table }}
        <h5>Aptitude and Competence Questionnaire:</h5>
        <ol>
        {% for q in zipped %}
            <li><p><strong>{{q.0.question}}</strong></p>
            {{q.1}}</li>
            <!--<p>{{q.question}}</p>
            {{f.as_table}}-->
        {% endfor %}
        </ol> 
        <input type="submit" value="Submit" class="btn btn-primary"/>
        <a href="{{site_url}}" class="btn">Back</a>
</form>
{% endblock %}

